.header__exit {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: right;
  color: #a9a9a9;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.header__exit:hover {
  opacity: 0.85;
}

@media screen and (max-width: 767px) {
  .header__exit {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.22;
  }
}
