.popup__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  height: 27px;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
}

.popup__text:nth-of-type(2) {
  margin: 30px 0 0 0;
}
