.popup__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 100%;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: black;
    margin: 30px 0 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 13px;
}

