.popup__photo-title {
    font-family: 'Inter', Arial, sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    margin-top: 10px;
}